* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fffafa;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: #f8f8ff;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 1px 15px 2px black;
    font-size: 18px;    
}

#sobreDengue {
    display: flex;
    justify-content: center;
    position: relative;
    width: 80%;
    height: 1270px;
    overflow-x: hidden;
    display: flex;
}

.titulo {
    width: 100%;
    height: 100px;
    background-color: white;
    /*radial-gradient(rgb(143, 182, 197), rgb(66, 115, 160), rgb(33, 128, 172))*/
    text-align: center;
}

h1 {
    position: absolute;
    top: 2.5%;
    font-family: 'Times New Roman', Times, serif
}

.dengueIcon {
    height: 100%;
    position: relative;
    float: right;
}

.uniparlogo {
    position: relative;
    float: left;
    height: 100%;
}

.imageDengue {
    width: 100%;
    height: 700px;
}

.barraNavegacao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: whitesmoke;/*repeating-radial-gradient(rgb(113, 165, 199), rgb(44, 156, 175), rgb(36, 117, 163));*/
    height: 50px;
    box-shadow: 0px 6px 7px 0px;
    border-radius: 10px;
}

.boxNavegacao {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 12.7%;
    border-top: solid 3px transparent;
    transition: 0.5s ease-in-out;

}
.boxNavegacao:hover{
    cursor: pointer;
    color: red;
    border-top-color: red;  
    transition: 0.5s ease-in-out;
}

#sessaoOqueEdengue{
    transform: translateY(0);
}
.sessao{
    margin-top: 2%;
    border-radius: 30px;
    padding: 30px;
    background-color: whitesmoke;
    width: 85%;
    height: 1100px;
    position: absolute;
    transform: translateX(200%);
    transition: 2s ease-in-out;
    box-shadow: 1px 1px 15px 2px black;  
    overflow-y: scroll;
}
@media screen and (max-height: 1080px){
    #sobreDengue{
        height: 910px;
    }
    .sessao{
        height: 800px;
        padding: 30px 50px 30px 50px;
    }
    .imageDengue{
        height: 490px;
    }
}