* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fffafa;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: #f8f8ff;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 1px 15px 2px black;
    font-size: 18px;    
}

#sobreDengue {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 80%;
    height: 1140px;
    overflow-x: hidden;
    display: flex;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100px;
    background-color: white;
    /*radial-gradient(rgb(143, 182, 197), rgb(66, 115, 160), rgb(33, 128, 172))*/
    font-family: 'Times New Roman', Times, serif;
}
.dengueIcon {
    height: 100%;
    position: absolute;
    right: 0;
}

.uniparlogo {
    position: absolute;
    left: 0;
    height: 100%;
}

.imageDengue {
    width: 100%;
    height: 700px;
}

.barraNavegacao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: whitesmoke;/*repeating-radial-gradient(rgb(113, 165, 199), rgb(44, 156, 175), rgb(36, 117, 163));*/
    height: 50px;
    box-shadow: 0px 6px 7px 0px;
    border-radius: 10px;
}

.boxNavegacao {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 12.7%;
    border-top: solid 3px transparent;
    transition: 0.5s ease-in-out;

}
.boxNavegacao:hover{
    cursor: pointer;
    color: red;
    border-top-color: red;  
    transition: 0.5s ease-in-out;
}

#sessaoOqueEdengue{
    transform: translateY(0);
}
.sessao{
    border-radius: 30px;
    padding: 30px 100px 0px 100px;    
    background-color: whitesmoke;
    width: 85%;
    height: 1000px;
    position: absolute;
    transform: translateX(200%);
    transition: 2s ease-in-out;
    box-shadow: 1px 1px 15px 2px black;  
    overflow-y: scroll;
}
@media screen and (max-height: 1080px){
    .header{
        height: 65px;
    }
    #headerTitulo{
        font-size: 20px;
    }
    .barraNavegacao{
        height: 35px;
        font-size: 14px;
    }
    h1{
        font-size: 15px;
    }
    #sobreDengue{
        height: 830px;
    }
    .sessao{
        font-size: 14px;
        height:750px;
        padding: 10px 50px 10px 50px;
    }
    .imageDengue{
        height: 510px;
    }

}
@media screen and (max-height: 720px){
    .header{
        height: 50px;
    }
    #headerTitulo{
        font-size: 18px;
    }
    .barraNavegacao{
        height: 25px;
        font-size: 12px;
    }
    h1{
        font-size: 13px;
    }
    #sobreDengue{
        height: 495px;
    }
    .sessao{
        font-size: 12px;
        height: 450px;
        padding: 10px 30px 10px 30px;
    }
    .imageDengue{
        height: 250px;
    }
}