* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fffafa;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: #f8f8ff;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 1px 15px 2px black;
    font-size: 18px;    
}

#sobreDengue {
    justify-content: center;
    position: relative;
    width: 80%;
    overflow-x: hidden;
    display: flex;
}

.titulo {
    width: 100%;
    height: 100px;
    background-color: white;
    /*radial-gradient(rgb(143, 182, 197), rgb(66, 115, 160), rgb(33, 128, 172))*/
    text-align: center;
}

h1 {
    position: absolute;
    top: 2.5%;
    font-family: 'Times New Roman', Times, serif
}

.dengueIcon {
    height: 100%;
    position: relative;
    float: right;
}

.uniparlogo {
    position: relative;
    float: left;
    height: 100%;
}

.imageDengue {
    margin-left: 5%;
    width: 90%;
    height: 700px;
}

.barraNavegacao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: whitesmoke;/*repeating-radial-gradient(rgb(113, 165, 199), rgb(44, 156, 175), rgb(36, 117, 163));*/
    height: 50px;
    box-shadow: 0px 6px 7px 0px;
    border-radius: 10px;
}

.boxNavegacao {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 12.7%;
    border-top: solid 3px transparent;
    transition: 0.5s ease-in-out;

}
.boxNavegacao:hover{
    cursor: pointer;
    color: red;
    border-top-color: red;  
    transition: 0.5s ease-in-out;
}

.btnInicioContainer {
    width: 100%;
    position: relative;
    height: 30px;
}

.btnInicio {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    float: right;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-image: url(images/setapracima.png);
    background-size: cover;
}
#sessaoOqueEdengue{
    margin-top: 2%;
    border-radius: 30px;
    padding: 28px;
    width: 95%;
    position: absolute;
    transform: translateY(0);
    transition: 2s ease-in-out;
    background-color: whitesmoke; 
    box-shadow: 1px 1px 15px 2px black;  
}
.sessao{
    margin-top: 2%;
    border-radius: 30px;
    padding: 28px;
    background-color: whitesmoke;
    width: 95%;
    position: absolute;
    transform: translateX(200%);
    transition: 2s ease-in-out;
    box-shadow: 1px 1px 15px 2px black;  
}